table {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 25px; 
}

caption, th, td {
    border: 1px solid #000;
    padding: 5px;
}

caption {
    border-bottom: none;
    font-weight: 800;
}

.weekend {
    color: red;
}